<link rel="stylesheet" href="/styles/mobile.css">
<div class="header">
	<img src="styles/img/logo.png" alt="">
</div>
<div class="content">
	<div class="card about">
		<i class="icon-id-card"></i>
		<h3>About</h3>
		<p>In 2012 after finishing The Starter League in Chicago, I embarked on my professonial career...</p>
	</div>
	<div class="card development">
		<i class="icon-code"></i>
		<h3>Development</h3>
		<p>Working at top companies like CreativeDash has allowed me to work on many exciting projects...</p>
	</div>
	<div class="card design">
		<i class="icon-coverflow"></i>
		<h3>Design</h3>
		<p>I'm a developer first, but every now and then I like to muse around with graphic design...</p>
	</div>
	<div class="card apps">
		<i class="icon-grid-lg"></i>
		<h3>Apps</h3>
		<p>This year I stepped out of my comfort zone and made two iOS apps...</p>
	</div>
	<div class="card contact">
		<i class="icon-envelope"></i>
		<i class="socicon">Q</i>
		<i class="socicon">D</i>
		<i class="socicon">j</i>
	</div>
</div>