
// Gray Palette
$black: 	#000;
$darkgray: 	#111;
$bodygray: 	#222;
$mediumgray: #747474;
$lightgray: #999;
$footerbg: #f9f9f9;


// Primary Palette
$orange: #ffc300;
$green: #54cf4e;
$yellow: #ffc301;

// Notification
$errortext: #e11c1c;

// Social Colors
$instagramblue: #225f89;
$facebookblue: #425a9b;
$twitterblue: #00a7e0;


// Secondary Palette