
// Gray Palette
$white: #f8f8f8;
$dark-gray: #2D2D2D;
$gray: #3D3D3D;
$light-gray: #555555;

// Primary
$mint: #73F3B6;


// Social Colors
$instagramblue: #225f89;
$facebookblue: #425a9b;
$twitterblue: #00a7e0;


// Secondary Palette