<link rel="stylesheet" href="/styles/mobile.css">
<div class="header">
	<img src="styles/img/logo.png" alt="">
</div>
<div class="content">
	<div class="card about">
		<i class="icon-id-card"></i>
		<h3>About</h3>
		<p>In 2012 after finishing The Starter League, I embarked on my professonial career</p>
	</div>
	<div class="card development">
		<i class="icon-code"></i>
	</div>
	<div class="card design">
		<i class="icon-coverflow"></i>
	</div>
	<div class="card apps">
		<i class="icon-grid-lg"></i>
	</div>
	<div class="card contact">
		<i class="icon-envelope"></i>
		<i class="socicon">Q</i>
		<i class="socicon">D</i>
		<i class="socicon">j</i>
	</div>
</div>