// Base
@import 'base/normalize';
@import 'base/colors';
@import 'base/typography';

body{
	overflow: hidden !important;
}

.header{
	height: 45px;
	background: $dark-gray;

	img{
		display: block;
		width: 100px;
		position: absolute;
		margin: 0 auto;
		left: 0;
		right: 0;
		top: 2px;
	}
}

.content{
	width: 100%;
	height: calc(100% - 45px);
	position: absolute;
	top: 45px;
	left: 0;
	background: $light-gray;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.card{
	height: 90px;
	width: calc(100% - 20px);
	margin: 0 auto;
	margin-top: 14px;
	background: darken($white, 10%);
	border-radius: 4px;
	color: $gray;
	position: relative;
	box-shadow: 0px 4px 0px rgba(0,0,0,0.4);

	h3{
		display: block;
		width: calc(100% - 98px);
		position: absolute;
		left: 90px;
		padding-left: 8px;
		padding-bottom: 4px;
		top: -16px;
		font-size: 18px;
		font-weight: 300;
		border-bottom: 1px solid $gray;
	}

	p{
		position: absolute;
		width: calc(100% - 105px);
		height: calc(100% - 38px);
		left: 98px;
		top: 20px;
		overflow: hidden;
		font-size: 12px;
		line-height: 18px;
	}



	i{
		width:  90px;
		height: 90px;
		background: $gray;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		font-size: 50px;
		text-align: center;
		color: $mint;
		box-sizing: border-box;
		padding-top: 16px;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;

		&.icon-grid-lg{
			padding-top: 20px;
		}


	}
}