.about-container{
	background: url('img/desk.png');
	background-size: cover;
	transform: translate3d(0,0,0);
	overflow-y: scroll;
	.cell{
		max-width: 1076px;
		width: 80%;
		margin: 0 auto;
		position: relative;
		top: 50%;
		transform: translate3d(0,-50%,0);
		

		>div{
			width: 49%;
			display: inline-block;
			vertical-align: top;
			max-width: 590px;
			box-sizing: border-box;
			color: darken($white, 30%);

			h1{
				font-weight: 200;
				margin-bottom: 30px;
				margin-top: 0;
			}

			&:nth-of-type(1){
				padding-right: 20px;
			}

			&:nth-of-type(2){
				padding-left: 20px;
			}

			img{
				max-width: 100%;
				margin-top: 96px;
			}
		}
	}

	@media screen and (max-height: 766px){
		.cell{
			position: absolute;
			top: 40px;
			transform: translate3d(0,0,0);
			left: 0;
			right: 0;
			padding-bottom: 80px;
		}
	}

	@media screen and (max-width: 1100px){
		.cell{
			position: absolute;
			top: 40px;
			transform: translate3d(0,0,0);
			left: 0;
			right: 0;
			padding-bottom: 80px;
		}
	}


}