.about-container{
	background: url('img/desk.png');
	background-size: cover;
	transform: translate3d(0,0,0);
	overflow-y: scroll;
	.cell{
		max-width: 1076px;
		width: 80%;
		margin: 0 auto;
		margin-top: 20px;

		>div{
			width: 50%;
			float: left;
			max-width: 590px;
			box-sizing: border-box;
			color: darken($white, 30%);

			h1{
				font-weight: 200;
				margin-bottom: 30px;
			}

			&:nth-of-type(1){
				padding-right: 20px;
			}

			&:nth-of-type(2){
				padding-left: 20px;
			}

			img{
				max-width: 100%;
				margin-top: 96px;
			}
		}
	}


}