.design-container{
	background: url('img/desk.png');
	background-size: cover;
	overflow-y: scroll;
	padding-bottom: 20px;
	padding-right: 10px;
	box-sizing: border-box;
	color: darken($white, 30%);

	h1{
		text-align: center;
		font-weight: 200;
		margin-top: 40px;
		margin-bottom: 20px;
	}

	div{
		margin: 0 auto;
	}

	img{
		float: left;
		margin-left: 20px;
		margin-top: 20px;
		width: calc(33% - 20px);
	}

	@media screen and (min-width: 1400px){
		img{
			width: calc(25% - 20px);
		}
	}

	@media screen and (min-width: 1600px){
		img{
			width: calc(20% - 20px);
		}
	}
}