.home-container{
	background: url('img/homebg.png');
	background-color: #1C1D20;
	background-size: cover;

	.logo{
		width: 604px;
		height: 246px;
		background: url('img/logo.png');
		background-size: cover;
		position: absolute;
		margin: auto;
		top: 0;
		left: 0;
		right: 0;
		bottom: 160px;
	}

	h1{
		color: $white;
		text-align: center;
		position: absolute;
		top: 200px;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		font-weight: 200;
		width: auto;
		height: 40px;
	}

}