.home-container{
	.logo{
		width: 604px;
		height: 246px;
		background: url('img/logo.png');
		background-size: cover;
		position: absolute;
		margin: auto;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}