html, body{
	width: 100%;
	height: 100%;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}


body{
	background: darken($white, 7%);
	overflow: hidden;
	transform: translate3d(0,0,0);
}

.containers{
	z-index: 9000;
	transform-style: preserve-3d;
	perspective : 1500;
	transform: translate3d(0,0,0);
	transition: transform .3s; 
	display: block;
	height: 100%;
	width: calc(100% - 50px);
	left: 50px;
	position: relative;
	&.shift{
		transform: translate3d(150px, 0, 0);
	}
}

.container{
	width: 100%;
	height: 100%;
	position: absolute;
	display: block;	
	top: 0;
	left: 0;
	transition: transform .6s, opacity .6s;
	transform: translate3d(0,0,0);
	opacity: 1;
	z-index: 1;

	&.ng-hide-add{
		display: block !important;
		transition: transform .3s, opacity .3s;
	}

	&.ng-hide-remove{
		display: block !important;
		transform: translate3d(140%,0,0);
		transition: none;
	}

	&.ng-hide{
		display: block !important;
		transform: translate3d(0,0,-800px);
		pointer-events: none;
		z-index: -1;
		opacity: 0;
	}
}