
html, body {
	height: 100%; width: 100%;
}

body {
	background: #fff;
	position: relative;
	min-width: 1000px;
}


.mask {
	height: 100%; width: 100%;
	position: fixed;
	background: rgba(255,255,255,0.9);
	z-index: 500;

	&.ng-hide-add,
	&.ng-hide-remove {
		transition: all 200ms ease;
		display: block !important;
		opacity: 1;
	}
	&.ng-hide {
		opacity: 0;
	}
}

.container {
	width: 1000px;
	margin: 0px auto;
}

.main-view {
	padding-bottom: 85px;
}
