

.sidebar { 
	width: 315px; height: 100%;
	position: absolute;
	top: 0px; right: 0px;
	z-index: 600;
	user-select: none;

	&.ng-hide-add,
	&.ng-hide-remove {
		transition: all 200ms ease;
		display: block !important;
		right: 0px;
	}
	&.ng-hide {
		right: -315px;
	}


	ul {
		text-align: right;
		list-style: none;
		position: absolute;
		top: 80px;
		right: 40px;

		li {
			font-size: 16px;
			font-weight: $regular;
			line-height: 40px;

			a {
				text-decoration: none;
				cursor: pointer;
				
				&:hover { color: $orange; }
				i { margin-left: 15px; }
			}
		}
	}
}