@font-face {
    font-family: 'ui-font-solid';
    src: url('fonts/uifont-solid.eot');
    src: url('fonts/uifont-solid.eot?#iefix') format('embedded-opentype'),
         url('fonts/uifont-solid.ttf') format('truetype'),
         url('fonts/uifont-solid.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


[class^="icon-"], [class*=" icon-"] {
	font-family: 'ui-font-solid';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	
	/* Enable Ligatures ================ */
	-webkit-font-feature-settings: "liga";
	-moz-font-feature-settings: "liga=1";
	-moz-font-feature-settings: "liga";
	-ms-font-feature-settings: "liga" 1;
	-o-font-feature-settings: "liga";
	font-feature-settings: "liga";

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before { content: '\E111'; }
.icon-arrow-up:before { content: '\E112'; }
.icon-caret-right:before { content: '\E113'; }
.icon-caret-left:before { content: '\E114'; }
.icon-arrow-circle-down:before { content: '\E115'; }
.icon-arrow-circle-up:before { content: '\E116'; }
.icon-arrow-o-circle-right:before { content: '\E117'; }
.icon-arrow-o-circle-left:before { content: '\E118'; }
.icon-caret-o-circle-left:before { content: '\E121'; }
.icon-caret-o-circle-right:before { content: '\E122'; }
.icon-arrow-circle-right:before { content: '\E123'; }
.icon-arrow-circle-left:before { content: '\E124'; }
.icon-caret-circle-left:before { content: '\E125'; }
.icon-caret-circle-right:before { content: '\E126'; }
.icon-check-o-circle:before { content: '\E127'; }
.icon-delete-o-circle:before { content: '\E128'; }
.icon-check-circle:before { content: '\E131'; }
.icon-delete-circle:before { content: '\E132'; }
.icon-return-left:before { content: '\E133'; }
.icon-return-right:before { content: '\E134'; }
.icon-traffic:before { content: '\E135'; }
.icon-back:before { content: '\E136'; }
.icon-forward:before { content: '\E137'; }
.icon-contract:before { content: '\E138'; }
.icon-expand:before { content: '\E141'; }
.icon-exit-fullscreen:before { content: '\E142'; }
.icon-expand-window:before { content: '\E143'; }
.icon-refresh:before { content: '\E144'; }
.icon-sync:before { content: '\E145'; }
.icon-cycle:before { content: '\E146'; }
.icon-repeat:before { content: '\E147'; }
.icon-bar-chart:before { content: '\E148'; }
.icon-bar-chart-up:before { content: '\E151'; }
.icon-stats-up:before { content: '\E152'; }
.icon-stats-down:before { content: '\E153'; }
.icon-stats-easel-up:before { content: '\E154'; }
.icon-stats-easel-down:before { content: '\E155'; }
.icon-bar-chart-easel:before { content: '\E156'; }
.icon-window-down:before { content: '\E157'; }
.icon-window-up:before { content: '\E158'; }
.icon-window-maximize:before { content: '\E161'; }
.icon-window-minimize:before { content: '\E162'; }
.icon-login:before { content: '\E163'; }
.icon-logout:before { content: '\E164'; }
.icon-panel-close:before { content: '\E165'; }
.icon-panel-show:before { content: '\E166'; }
.icon-command-line:before { content: '\E167'; }
.icon-window:before { content: '\E168'; }
.icon-window-plus:before { content: '\E171'; }
.icon-window-minus:before { content: '\E172'; }
.icon-window-check:before { content: '\E173'; }
.icon-window-delete:before { content: '\E174'; }
.icon-share-right:before { content: '\E175'; }
.icon-share-left:before { content: '\E176'; }
.icon-multiple-windows:before { content: '\E177'; }
.icon-list-th-lg:before { content: '\E178'; }
.icon-grid-lg:before { content: '\E181'; }
.icon-grid:before { content: '\E182'; }
.icon-list-th:before { content: '\E183'; }
.icon-sidebar:before { content: '\E184'; }
.icon-list-bullet:before { content: '\E185'; }
.icon-bars:before { content: '\E186'; }
.icon-outdent:before { content: '\E187'; }
.icon-indent:before { content: '\E188'; }
.icon-document:before { content: '\E211'; }
.icon-text-doc:before { content: '\E212'; }
.icon-zipped-doc:before { content: '\E213'; }
.icon-text-doc-plus:before { content: '\E214'; }
.icon-text-doc-minus:before { content: '\E215'; }
.icon-heart-card:before { content: '\E216'; }
.icon-diamond-card:before { content: '\E217'; }
.icon-spade-card:before { content: '\E218'; }
.icon-club-card:before { content: '\E221'; }
.icon-book:before { content: '\E222'; }
.icon-clipboard:before { content: '\E223'; }
.icon-check-clipboard:before { content: '\E224'; }
.icon-delete-clipboard:before { content: '\E225'; }
.icon-text-clipboard:before { content: '\E226'; }
.icon-address-book:before { content: '\E227'; }
.icon-calendar:before { content: '\E228'; }
.icon-calendar-day:before { content: '\E231'; }
.icon-id-card:before { content: '\E232'; }
.icon-polaroids:before { content: '\E233'; }
.icon-polaroids-blank:before { content: '\E234'; }
.icon-photos:before { content: '\E235'; }
.icon-photo:before { content: '\E236'; }
.icon-camera:before { content: '\E237'; }
.icon-headphones:before { content: '\E238'; }
.icon-stop:before { content: '\E241'; }
.icon-play:before { content: '\E242'; }
.icon-record:before { content: '\E243'; }
.icon-pause:before { content: '\E244'; }
.icon-ffw:before { content: '\E245'; }
.icon-rev:before { content: '\E246'; }
.icon-skip-forward:before { content: '\E247'; }
.icon-skip-back:before { content: '\E248'; }
.icon-eject:before { content: '\E251'; }
.icon-volume-max:before { content: '\E252'; }
.icon-volume:before { content: '\E253'; }
.icon-volume-min:before { content: '\E254'; }
.icon-mute:before { content: '\E255'; }
.icon-volume-plus:before { content: '\E256'; }
.icon-volume-minus:before { content: '\E257'; }
.icon-volume-delete:before { content: '\E258'; }
.icon-music-notes:before { content: '\E261'; }
.icon-music-notes-box:before { content: '\E262'; }
.icon-speaker:before { content: '\E263'; }
.icon-boombox:before { content: '\E264'; }
.icon-ipod:before { content: '\E265'; }
.icon-microphone:before { content: '\E266'; }
.icon-microphone-alt:before { content: '\E267'; }
.icon-cd:before { content: '\E268'; }
.icon-vinyl:before { content: '\E271'; }
.icon-cassette:before { content: '\E272'; }
.icon-eq:before { content: '\E273'; }
.icon-slate:before { content: '\E274'; }
.icon-film:before { content: '\E275'; }
.icon-tv:before { content: '\E276'; }
.icon-monitor:before { content: '\E277'; }
.icon-keyboard:before { content: '\E278'; }
.icon-printer:before { content: '\E281'; }
.icon-printing:before { content: '\E282'; }
.icon-mouse:before { content: '\E283'; }
.icon-text:before { content: '\E284'; }
.icon-ribbon:before { content: '\E285'; }
.icon-gamepad:before { content: '\E286'; }
.icon-portable-game:before { content: '\E287'; }
.icon-tablet:before { content: '\E288'; }
.icon-calculator:before { content: '\E311'; }
.icon-floppy-disc:before { content: '\E312'; }
.icon-flashlight:before { content: '\E313'; }
.icon-bell:before { content: '\E314'; }
.icon-hourglass:before { content: '\E315'; }
.icon-smartphone:before { content: '\E316'; }
.icon-cellphone:before { content: '\E317'; }
.icon-lightbulb:before { content: '\E318'; }
.icon-telephone:before { content: '\E321'; }
.icon-battery-full:before { content: '\E322'; }
.icon-battery-half:before { content: '\E323'; }
.icon-battery-low:before { content: '\E324'; }
.icon-battery-charge:before { content: '\E325'; }
.icon-flash:before { content: '\E326'; }
.icon-wrench:before { content: '\E327'; }
.icon-settings:before { content: '\E328'; }
.icon-zoom-in:before { content: '\E331'; }
.icon-zoom-out:before { content: '\E332'; }
.icon-search:before { content: '\E333'; }
.icon-cloud-upload:before { content: '\E334'; }
.icon-cloud:before { content: '\E335'; }
.icon-cloud-up:before { content: '\E336'; }
.icon-cloud-down:before { content: '\E337'; }
.icon-cloud-check:before { content: '\E338'; }
.icon-cloud-delete:before { content: '\E341'; }
.icon-bluetooth:before { content: '\E342'; }
.icon-wifi:before { content: '\E343'; }
.icon-firewire:before { content: '\E344'; }
.icon-usb:before { content: '\E345'; }
.icon-plug:before { content: '\E346'; }
.icon-outlet:before { content: '\E347'; }
.icon-command:before { content: '\E348'; }
.icon-shuffle:before { content: '\E351'; }
.icon-ethernet:before { content: '\E352'; }
.icon-code:before { content: '\E353'; }
.icon-fullscreen:before { content: '\E354'; }
.icon-contrast:before { content: '\E355'; }
.icon-coverflow:before { content: '\E356'; }
.icon-zoom-out-solid:before { content: '\E357'; }
.icon-zoom-in-solid:before { content: '\E358'; }
.icon-info:before { content: '\E361'; }
.icon-info-circle:before { content: '\E362'; }
.icon-outbox:before { content: '\E363'; }
.icon-inbox:before { content: '\E364'; }
.icon-download:before { content: '\E365'; }
.icon-compose:before { content: '\E366'; }
.icon-layout:before { content: '\E367'; }
.icon-link:before { content: '\E368'; }
.icon-windows:before { content: '\E371'; }
.icon-flash-drive:before { content: '\E372'; }
.icon-location:before { content: '\E373'; }
.icon-bus:before { content: '\E374'; }
.icon-train:before { content: '\E375'; }
.icon-gas:before { content: '\E376'; }
.icon-dashboard:before { content: '\E377'; }
.icon-dashboard-alt:before { content: '\E378'; }
.icon-flag:before { content: '\E381'; }
.icon-flag-alt:before { content: '\E382'; }
.icon-plane:before { content: '\E383'; }
.icon-compass:before { content: '\E384'; }
.icon-clock:before { content: '\E385'; }
.icon-watch:before { content: '\E386'; }
.icon-alarm-clock:before { content: '\E387'; }
.icon-megaphone:before { content: '\E388'; }
.icon-locked-alt:before { content: '\E411'; }
.icon-unlocked-alt:before { content: '\E412'; }
.icon-unlocked:before { content: '\E413'; }
.icon-locked:before { content: '\E414'; }
.icon-key:before { content: '\E415'; }
.icon-cube-open:before { content: '\E416'; }
.icon-cube:before { content: '\E417'; }
.icon-mailbox:before { content: '\E418'; }
.icon-file-drawer:before { content: '\E421'; }
.icon-folder-flat:before { content: '\E422'; }
.icon-folder:before { content: '\E423'; }
.icon-folder-plus:before { content: '\E424'; }
.icon-folder-minus:before { content: '\E425'; }
.icon-attach:before { content: '\E426'; }
.icon-recycle:before { content: '\E427'; }
.icon-recycle-bin:before { content: '\E428'; }
.icon-envelope:before { content: '\E431'; }
.icon-mail:before { content: '\E432'; }
.icon-mail-down:before { content: '\E433'; }
.icon-mail-up:before { content: '\E434'; }
.icon-check:before { content: '\E435'; }
.icon-delete:before { content: '\E436'; }
.icon-map:before { content: '\E437'; }
.icon-brush:before { content: '\E438'; }
.icon-pen:before { content: '\E441'; }
.icon-pencil:before { content: '\E442'; }
.icon-thumbtack:before { content: '\E443'; }
.icon-male:before { content: '\E444'; }
.icon-female:before { content: '\E445'; }
.icon-brightness-up:before { content: '\E446'; }
.icon-brightness-down:before { content: '\E447'; }
.icon-crosshair:before { content: '\E448'; }
.icon-trefoil-circle:before { content: '\E451'; }
.icon-cross-circle:before { content: '\E452'; }
.icon-power:before { content: '\E453'; }
.icon-pie-chart:before { content: '\E454'; }
.icon-share:before { content: '\E455'; }
.icon-move:before { content: '\E456'; }
.icon-star-6:before { content: '\E457'; }
.icon-star-5:before { content: '\E458'; }
.icon-alert-o:before { content: '\E461'; }
.icon-alert:before { content: '\E462'; }
.icon-option:before { content: '\E463'; }
.icon-plus:before { content: '\E464'; }
.icon-minus:before { content: '\E465'; }
.icon-user:before { content: '\E466'; }
.icon-group:before { content: '\E467'; }
.icon-user-plus:before { content: '\E468'; }
.icon-user-minus:before { content: '\E471'; }
.icon-user-delete:before { content: '\E472'; }
.icon-chat:before { content: '\E473'; }
.icon-chat-dots:before { content: '\E474'; }
.icon-chat-rect:before { content: '\E475'; }
.icon-chat-rect-dots:before { content: '\E476'; }
.icon-chat-lines:before { content: '\E477'; }
.icon-chat-rect-lines:before { content: '\E478'; }
.icon-infinity:before { content: '\E481'; }
.icon-umbrella:before { content: '\E482'; }
.icon-necktie:before { content: '\E483'; }
.icon-briefcase:before { content: '\E484'; }
.icon-first-aid:before { content: '\E485'; }
.icon-capsule:before { content: '\E486'; }
.icon-shield:before { content: '\E487'; }
.icon-mustache:before { content: '\E488'; }
.icon-bag:before { content: '\E511'; }
.icon-tag:before { content: '\E512'; }
.icon-credit-card:before { content: '\E513'; }
.icon-planet:before { content: '\E514'; }
.icon-earth:before { content: '\E515'; }
.icon-globe:before { content: '\E516'; }
.icon-trophy:before { content: '\E517'; }
.icon-medal:before { content: '\E518'; }
.icon-trashcan:before { content: '\E521'; }
.icon-trefoil:before { content: '\E522'; }
.icon-leaf:before { content: '\E523'; }
.icon-lamp:before { content: '\E524'; }
.icon-home:before { content: '\E525'; }
.icon-help:before { content: '\E526'; }
.icon-magnet:before { content: '\E527'; }
.icon-heart:before { content: '\E528'; }
.icon-d6:before { content: '\E531'; }
.icon-asterisk:before { content: '\E532'; }
.icon-flask:before { content: '\E533'; }
.icon-flask-tilted:before { content: '\E534'; }
.icon-test-tube:before { content: '\E535'; }
.icon-mallet:before { content: '\E536'; }
.icon-fork-spoon:before { content: '\E537'; }
.icon-spatula:before { content: '\E538'; }
.icon-chef-hat:before { content: '\E541'; }
.icon-place-setting:before { content: '\E542'; }
.icon-knife-fork:before { content: '\E543'; }
.icon-grill-open:before { content: '\E544'; }
.icon-grill:before { content: '\E545'; }
.icon-platter:before { content: '\E546'; }
.icon-droplet:before { content: '\E547'; }
.icon-wine:before { content: '\E548'; }
.icon-wine-tilted:before { content: '\E551'; }
.icon-drink:before { content: '\E552'; }
.icon-drink-straw:before { content: '\E553'; }
.icon-popsicle:before { content: '\E554'; }
.icon-popsicle-eaten:before { content: '\E555'; }
.icon-ice-cream:before { content: '\E556'; }
.icon-ice-cream-alt:before { content: '\E557'; }
.icon-ice-cream-eaten-alt:before { content: '\E558'; }
.icon-ice-cream-eaten:before { content: '\E561'; }
.icon-mug:before { content: '\E562'; }
.icon-noodle-bowl:before { content: '\E563'; }
.icon-bowl:before { content: '\E564'; }
.icon-bowl-spoon:before { content: '\E565'; }
.icon-apple:before { content: '\E566'; }
.icon-apple-eaten:before { content: '\E567'; }
.icon-pizza:before { content: '\E568'; }
.icon-pizza-eaten:before { content: '\E571'; }
.icon-drumstick:before { content: '\E572'; }
.icon-drumstick-eaten:before { content: '\E573'; }
.icon-muffin:before { content: '\E574'; }
.icon-mustard:before { content: '\E575'; }
.icon-mustard-alt:before { content: '\E576'; }
.icon-ketchup:before { content: '\E577'; }
.icon-sauce:before { content: '\E578'; }
.icon-egg:before { content: '\E581'; }
.icon-fish:before { content: '\E582'; }
.icon-fridge:before { content: '\E583'; }
.icon-eye:before { content: '\E584'; }
.icon-glasses:before { content: '\E585'; }
.icon-crown:before { content: '\E586'; }
.icon-king:before { content: '\E587'; }
.icon-notepad:before { content: '\E588'; }